<!DOCTYPE html>
<html>
<body>
    <h1>this is home page{{context}} </h1>
    <section class="header_section">
        <div class="container">
            <div class="header_box">
                <div class="header_btn">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="products.html">Product</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>